body{
background-color: #456C81;
margin: 0px;
padding: 0px;
}

header {
  background: #C5E1FF;
  padding: 0px 5% 3px 5%;
  font-size:16px;
  list-style: none;
}

.topnev{
    list-style: none;
}
li{
    display: inline-block;
}
section{
  padding: 10%;
  background: #dfe6e4;
}
.heading{
    font-size: 32px;
    text-align: right;
    background-color: #D15D51;
}
footer{
  padding: 5%;
  background:#A700FF;
}
